version: '3'

services:
  ##########################
  #### MS Infrastructure ###
  ##########################

  config-server:
    image: nimbleplatform/config-server:latest
    env_file:
      - env_vars
    environment:
      - _JAVA_OPTIONS=-Xmx128m -Xms50m
    ports:
      - "8888:8888"

  service-discovery:
    image: nimbleplatform/service-discovery:latest
    env_file:
      - env_vars
    environment:
      - _JAVA_OPTIONS=-Xmx128m -Xms50m
    ports:
      - "8761:8761"
    depends_on:
      - config-server

  gateway-proxy:
    image: nimbleplatform/gateway-proxy:latest
    env_file:
      - env_vars
    environment:
      - _JAVA_OPTIONS=-Xmx128m -Xms50m
#    ports:
#      - "80:80"
    depends_on:
      - config-server
      - service-discovery

  ##########################
  ######## Databases #######
  ##########################

  staging-main-db:
    image: postgres:10
    restart: always
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: 'IRDMKUYCDTIDNLQG'
    ports:
      - 5432:5432
    volumes:
      - staging-main-db:/var/lib/postgresql/data

volumes:
  staging-main-db: